SASLprep doesn't support stored mode

According to [RFC 5802 §2.2 ](https://tools.ietf.org/html/rfc5802#section-2.2), SASLprep must be applied in "stored string" mode, but Authen::SASL::SASLprep doesn't currently offer it.  [rt.cpan.org#117767](https://rt.cpan.org/Ticket/Display.html?id=117767&) was filed to track this feature request.

If that ticket doesn't add the feature, we may need to internally re-implement it directly with Unicode::Stringprep, passing the appropriate argument.
