-PLUS variants + SCRAM-SHA3-512(-PLUS) supports

After:
- SCRAM-SHA-1
- SCRAM-SHA-224
- SCRAM-SHA-256
- SCRAM-SHA-384
- SCRAM-SHA-512

Can you add supports of :
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-384-PLUS
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- Channel Bindings for SCRAM over TLS 1.3: https://tools.ietf.org/html/draft-whited-tls-channel-bindings-for-tls13 -> https://tools.ietf.org/html/draft-ietf-kitten-tls-channel-bindings-for-tls13

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1

@xdg: Why have you closed?

It is currently not full supported...

@xdg: Why have you closed?
It is currently not full supported...

Can you reopen it?

Thanks in advance.

PS: In the same time, it will be nice to merge the code with https://github.com/gbarr/perl-authen-sasl to have only one package.

This ticket is a wall of noise.  You've not distinguished which methods are or aren't supported.  Digest mechanisms aren't the responsibility of this module, as they get them from another module.

If you'd like to open a narrower, less spammy ticket, specific to this module, I'll consider the request.

@xdg: Updated by less informations.

@xdg: Have you looked the ticket changes?

Can you reopen it?

Thanks in advance.

@xdg: Can you reopen?

In the same time, the order of SCRAM is good?

The frustration I have with this issue is that you're clearly not a user, haven't read the documentation closely, and don't understand what this module is and isn't responsible for.  In addition, you still have screenfuls of links that aren't relevant to what you're asking for, such as the IANA SASL mechanisms list.  And your taking a very insistent tone, which, as a volunteer maintainer, I don't appreciate.

The only missing feature for this module is channel binding support.  Digests are handled by PBKDF2::Tiny (which I also maintain).  To address your concerns, I've opened an issue in each project.  You'll see how little information is actually necessary for the request.  Sometimes less is more.

* dagolden/Authen-SCRAM/issues/4
* dagolden/PBKDF2-Tiny/issues/2